{% extends "auctions/layout.html" %}

{% block body %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2>Active Listings</h2>
        {% for listing in listings %}
            <div class="card mb-3" style="width: 50vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    {% if listing.image %}
                        <img src="{{listing.image}}" class="img-fluid rounded-start" alt="{{listing.title}}">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><strong><a href="/listing/{{listing.id}}" >{{listing.title}}</a></strong></h5>
                      <p class="card-text"><strong>Price:</strong> ${{listing.price}}</p>
                      <p class="card-text">{{listing.description}}</p>
                      <p class="card-text"><small class="text-muted">{{listing.date}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
        {% empty %}
        <div class="mb-3">
            No active listings.
        </div>
        {% endfor %}
    </div>
{% endblock %}